<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'plan/style.css' %}" />
    <title>{% block title %}PedalStroke v2.0{% endblock %}</title>
</head>

<body>
	<div id="topbar">
    <!-- <header>
      <img   src="{% static 'plan/images/pedalstroke_1.svg' %}"> -->
	<a href= {% url 'plan:index' %}>
    	<header style="background: url('{% static 'plan/images/pedalstroke_1.svg' %}') alt='icon')">
  	</a>
		</header>
	    <nav>
	        {% block sidebar %}
          <ul>
	            <li><a id="sign-up" href= {% url 'plan:logout' %}>Logout</a></li>
              <li><a href= {% url 'plan:profile' user.id %}>Profile</a></li>
              <li><a href= {% url 'plan:about' %}>About</a></li>
              <li><a href= {% url 'plan:index' %}>Home</a></li>
          </ul>
          {% endblock %}
	    </nav>
    </div>

    <section>
        {% block content %}{% endblock %}
    </section>
    <footer>
    	<p>Copyright Andrej Jurco</p>
    </footer>
</body>
</html>