{% extends "plan/base_logged.html" %}

{% block content %}

<h3> Welcome, {{ user.username }}! </h3>
	<p>
		{% if seasons %}
		    <ul>
		    {% for season in seasons %}
		        <a class="season_link" href="{% url 'plan:season' user.id season.id %}">Season {{ season.year }}</a>
		    {% endfor %}
		    </ul>
		{% else %}
		    <p>You have no created seasons. Let's create your first!</p>
		{% endif %}
		<a class='btn_default' href={% url 'plan:new season' user.id %}>Create a new season</a>
	</p>
{% endblock %}
