{% extends "plan/base.html" %}

{% block content %}
	<p>
	Vitajte!

Dostali ste sa na pracovnú stránku ročníkového projektu s názvom PedalStroke.

Čo je to PedalStroke?

Plánovanie cyklistického plánu je veľmi často časovo náročná činnosť, ktorá si vyžaduje čo najväčšie teoretické znalosti z oblasti cyklistiky, plánovania a trénovania. Nie každý musí mať chuť na to, aby čítal a spracovával obrovské množstvo informácií, ktoré tieto témy zahrňujú. Preto je tu PedalStroke.

PedalStroke umožňuje:

správu užívateľov využívajúcich tento program
správu jednotlivých sezón a plánov, ktoré sú priradené k užívateľom
správu pretekov, ktoré sú priradené k jednotlivým sezónam
graficky zobraziť dáta užívateľovi tak, aby ich vedel využiť intuitívne, rýchlo a efektívne
	</p>


{% endblock %}