{% extends "plan/base_logged.html" %}

{% block content %}
	{% if messages %}
		    {% for message in messages %}
		        <p style="color: red">{{ message }} </p>
		    {% endfor %}
			{% endif %}
	<form action={% url 'plan:new season' user_id %} method="POST">
	    {% csrf_token %}
	    {% for field in form  %}
	   		{{ field.errors }}
	   		{{ field.label_tag }} {{ field }} <br>
	  {% endfor %}
	    <input class='btn_default' type="submit" value="Submit" />
	</form>
		<a class='btn_default' href="{% url 'plan:user' user_id %}">Go back</a>
{% endblock %}
