{% extends "plan/base_logged.html" %}

{% block content %}
	{% if userProfile %}
		<h3>Profile information</h3>
		<p>
		CP60: {{ userProfile.profile.cp60 }}W<br>
		Maximum heart rate: {{ userProfile.profile.maxHR }}bpm<br>
		Age: {{ userProfile.profile.age }} years<br>
		Years of Experience: {{ userProfile.profile.yearsOfExperience }}<br>
		Strongest Skill: {{ userProfile.profile.strong1 }}<br>
		2nd Strongest Skill: {{ userProfile.profile.strong2 }}<br>
		Weakest Skill: {{ userProfile.profile.weak1 }}<br>
		2nd Weakest Skill: {{ userProfile.profile.weak2 }}<br>

		{% if owner %}
			<a class='btn_default' href="{% url 'plan:profile edit' user.id %}">Edit profile</a>
		{% endif %}
	{% else %}
		<p>Invalid data!
	{% endif %}
	</p>
{% endblock %}
