{% extends "default_sites/base_logged.html" %}

{% block content %}
  <h2>Edit data</h2>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}

    <button class='btn_default' type="submit">Save Changes</button>
  </form>
  <a class='btn_default' href="{% url 'plan:race' user_id season_id race_id %}">Go back</a>
{% endblock %}
