body {
	margin: 0px;
}
html {
}
/*
section, nav, a, li, header, p, li, h1, ul {
	border: solid 1px black;
}
*/
#topbar {
	background-color: #BC1913;
	height: 70px;
	width: auto;
}
header {
	visibility: visible;
	height: 70px;
	width: 200px;
	display: inline-block;
	float: left;
	background-image: url("images/pedalstroke_1.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 304px 182px;
	margin-top: -10px;
	margin-left: 25%;
}
header img {
	width: 300px;
	height: 105px;
}
nav {
	height: 70px;
	background-color: #BC1913;
	float: right;
	margin-right: 25%;
	text-align: center;
}
nav ul {
	display: inline-block;
	list-style-type: none;
	width: calc(50vw - 250px);
}
nav li {
	display: inline-block;
	margin: auto;
	padding: .6rem;
	margin-right: 3%;
	float: right;
	color: #FFFFFF;
	background-color: #BC1913;

}
nav a {
	border-radius: 7px;
	color: #FFFFFF;
	text-decoration: none;
	padding: .6rem;
	font-family: fantasy;
	font-weight: 450;
}
#sign-up {
	font-weight: 600;
}
nav a:hover{
	background-color: #FFFFFF;
	color: #BC1913;
}
section {
	margin-left: 25%;
	width: 50%;
	min-height: 700px;
}
footer {
	background-color: #BC1913;
	text-align: center;
	height: 45px;
}
footer p {
	color: #FFFFFF;
	width: 250px;
	margin: auto;
	padding-top: 12px;
	font-size: 15px;
}

td, tr, th {
padding-right: 2%;
width: 24%;
text-align: left;
}
.id, .priority, .load {
width: 5%;
}
.est-duration {
text-align: center;
}
.duration {
	width: 20%;
}
.duration td {
text-align: center;
}
.end-date {
width: auto;
margin-right: 1%;
}
#planWeeks {
border-spacing: 0;
}
#planWeeks td, tr, th{
text-align: center;
}
#planWeeks td {
border-top:solid 1px black;
border-collapse: collapse;
padding: 0 0.5rem;
}
.checkbox {
	width: 2%;
}
.season_link {
	display: inline-block;
	background-color: #BC1913;
	padding: 1.5rem 0rem;
	font-size: 1.5em;
	text-decoration: none;
	color: #FFFFFF;
	border-radius: 15px;
	width: 27%;
	height: auto;
	text-align: center;
	margin: 10px;
	border: solid 8px #BC1913;
	font-weight: 800;
}
.season_link:hover {
	background-color: #FFFFFF;
	color: #BC1913;
}
.btn_default {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display: inline-block;
	background-color: #BC1913;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 15px;
	border: solid 4px #BC1913;
	border-radius: 10px;
	padding: 0px 8px;
	margin: 1px;
}
.btn_default:hover {
	background-color: #FFFFFF;
	color: #BC1913;
}
.table_default {
	width: 100%;
	border: none;
	border-collapse: collapse;
}
.table_default th {
	font-weight: 800;
	font-size: 16px;
	background-color: #BC1913;
	border-left: none;
	border-right: none;
	padding: 0.5rem;
	color: #FFFFFF;
	margin-bottom: 5px;
}
.table_default td{
	padding: 5px 0;
	text-align: center;
}
.table_default td a {
	text-decoration: none;
	color: black;
}
.table_default
