<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../statc/plan/style.css" >
    <title>Django awesome app!</title>
</head>

<body>
	<header>
	<img src="plan/static/plan/images/icon-4.png" alt="icon"/>
	</header>
    <nav>
        <ul>
            <li><a href= {% url 'plan:index' %}>Home</a></li>
			<li><a href= {% url 'plan:about' %}>About</a></li>
            <li><a href= {% url 'plan:login' %}>Log in</a></li>
            <li><a href= {% url 'plan:sign_up' %}>Sign up</a></li>
        </ul>
    </nav>

    <section>
        <p> AAAAAAAAAAAAAAAAAAAABB</p>
    </section>
    <footer>
    	<p>Copyright Andrej Jurco</p>
    </footer>
</body>
</html>